.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.responsive-logo {
    max-width: 80px; /* Adjust this value as needed */
    max-height: 80px;
    height: auto;
}

@media(min-width: 1024px){
    .responsive-logo {
        max-width: 850px; /* Adjust this value as needed */
        max-height: 850px;
    
    }
}
.shadow-box{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}