<ion-header [translucent]="true">

</ion-header>

<ion-content class="home-content" [fullscreen]="true">

  <div class="bubbles">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ion-header [translucent]="true">
    <ion-toolbar color="light">
      <ion-title class="header-title">
        <img src="assets/images/logo_speira.png" alt="Logo" class="logo-icon">
        Selecciona una opción
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="home-container">
    <ion-card class="card" routerLink="/caja">
      <div class="card-image-container">
        <img src="assets/images/caja.png" class="card-image" alt="Caja">
        <p class="card-text">Caja</p>
      </div>
    </ion-card>

    <ion-card class="card" routerLink="/estanque">
      <div class="card-image-container">
        <img src="assets/images/estanque.png" class="card-image" alt="Estanque">
        <p class="card-text">Estanque</p>
      </div>
    </ion-card>

    <ion-card class="card" routerLink="/piscina">
      <div class="card-image-container">
        <img src="assets/images/piscina.png" class="card-image" alt="Piscina">
        <p class="card-text">Piscina</p>
      </div>
    </ion-card>

    <ion-button class="report-button" fill="solid" expand="block" routerLink="/reportes">
      Generar reporte
    </ion-button>
  </div>
</ion-content>