services:
  app:
    container_name: api-speira-app 
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - ./reportes:/usr/src/app/reportes
      - ./utils/assets:/usr/src/app/utils/assets
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      speira-network:
        aliases:
          - api-speira-app

  mongo:
    container_name: api-speira-mongo 
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    command: mongod --noauth
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 30s
      retries: 3
    networks:
      speira-network:
        aliases:
          - api-speira-mongo

volumes:
  mongo-data:
    name: speira-mongo-data 
    external: true 

networks:
  speira-network:
    driver: bridge
    name: speira-network 