<ion-content [fullscreen]="true">
  <div class="bubbles">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>

  <div class="dynamic-images">
    <p>Estanques</p>
    <img src="https://drive.google.com/uc?export=view&id=1vk03l8GjypxWapqqmPP-9hqbq_dq2oyF" alt="Estanque" (click)="onImageClick('Estanque', $event)">

    <p>Cajas</p>
    <img src="https://drive.google.com/uc?export=view&id=1Xwd5GodUl0RLkfE57ylfST4ZICI64G12" alt="Caja de plástico" (click)="onImageClick('Caja de plástico', $event)">

    <p>Piscinas</p>
    <img src="https://drive.google.com/uc?export=view&id=1kGPSp-pCdgAPcOOmTGscpFGizsqPJxHg" alt="Piscina" (click)="onImageClick('Piscina', $event)">
  </div>

  <div>
    <ion-button expand="block" (click)="navigateToReporte()" class="report-button">
      Generar Reporte
    </ion-button>
  </div>
</ion-content>
