<ion-content class="login-content">

  <div class="bubbles">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>

  <div class="login-card">
    <picture>
      <source media="(min-width:1024px)" srcset="assets/LOGO SPEIRA ESCRITORIO.png" />
      <img src="assets/LOGO SPEIRA.png" alt="Speira Logo" class="login-logo" />
    </picture>

    <h2 class="login-title">Iniciar sesión</h2>
    <p class="login-subtitle">Iniciar sesión para continuar</p>

    <form class="login-form">
      <ion-item class="form-item" lines="none">
        <ion-label position="floating" class="input-label">Usuario o correo</ion-label>
        <ion-input type="email"
                   class="form-input"
                   [(ngModel)]="email"
                   name="email">
        </ion-input>
      </ion-item>

      <ion-item class="form-item" lines="none">
        <ion-label position="floating" class="input-label">Contraseña</ion-label>
        <ion-input [type]="showPassword ? 'text' : 'password'"
                   class="form-input"
                   [(ngModel)]="password"
                   name="password">
        </ion-input>
        <ion-icon slot="end"
                  [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                  (click)="togglePassword()"
                  class="password-toggle">
        </ion-icon>
      </ion-item>

      <div class="divider"></div>

      <ion-button expand="block" class="login-button" (click)="login()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent" slot="start"></ion-spinner>
        {{ loading ? 'Ingresando...' : 'INGRESAR' }}
      </ion-button>
    </form>

    <div class="social-login">
      <p class="social-login-text">Inicia sesión con</p>

      <ion-button fill="clear" (click)="loginWithGoogle()">
        <div class="google-icon-svg" aria-label="Google sign in" role="img">
          <svg viewBox="0 0 533.5 544.3" xmlns="http://www.w3.org/2000/svg">
            <path fill="#4285F4"
              d="M533.5 278.4c0-18.8-1.5-37-4.5-54.7H272v103.6h146.9c-6.3 33.8-25.2 62.4-53.6 81.7v67.8h86.7c50.7-46.7 79.5-115.4 79.5-198.4z" />
            <path fill="#34A853"
              d="M272 544.3c72.6 0 133.6-24 178.2-65.3l-86.7-67.8c-24.1 16.2-55 25.9-91.5 25.9-70.5 0-130.4-47.5-151.9-111.3H29.6v69.9c44.3 87 134.9 149.5 242.4 149.5z" />
            <path fill="#FBBC05"
              d="M120.1 322.8c-10.6-31.6-10.6-65.8 0-97.4v-69.9H29.6c-39.4 76.9-39.4 168.4 0 245.3l90.5-77.9z" />
            <path fill="#EA4335"
              d="M272 106.1c39.5 0 75.1 13.6 103.1 40.3l77.4-77.4C404.4 24 344 0 272 0 164.5 0 74 62.5 29.6 149.5l90.5 69.9c21.5-63.8 81.4-111.3 151.9-111.3z" />
          </svg>
        </div>
      </ion-button>

      <p class="register-text">
        ¿No tienes cuenta?
        <a (click)="navigateToRegister()">Regístrate aquí</a>
      </p>
      
    </div>
  </div>

</ion-content>
