<ion-content id="main-content" class="home-content" [fullscreen]="true">

  <div class="bubbles">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>

  <div class="home-card">
    <div class="dynamic-images">
      <div class="image-block">
        <p>Estanques</p>
        <img
          src="assets/images/estanque.png"
          alt="Estanque"
          (click)="onSelectEstanque('Estanque 1')"
          [class.selected]="estanqueSeleccionado === 'Estanque 1'"
          (dblclick)="onImageClick('Estanque 1', $event)"
        />
      </div>

      <div class="image-block">
        <p>Cajas</p>
        <img
          src="assets/images/caja_de_plastico.png"
          alt="Caja"
          (click)="onSelectEstanque('Caja de plástico')"
          [class.selected]="estanqueSeleccionado === 'Caja de plástico'"
          (dblclick)="onImageClick('Caja de plástico', $event)"
        />
      </div>

      <div class="image-block">
        <p>Piscinas</p>
        <img
          src="assets/images/tina_blanca.png"
          alt="Piscina"
          (click)="onSelectEstanque('Piscina')"
          [class.selected]="estanqueSeleccionado === 'Piscina'"
          (dblclick)="onImageClick('Piscina', $event)"
        />
      </div>
    </div>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToReporte()">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Generar reporte</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToMonitoreo()">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Monitoreo general</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToUsuario()">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>